* {
    /* margin-left: 10px; */
    padding: 1%;
}
.card-img-top {
    list-style: none;
    padding: 5px;
    text-align: center;
    margin: 0 auto;
    height: 350px;
    width: 270px;
}
.dropdown {
    text-align: right;
}
h1 {
    font-size: 60px;
}